[workspace]
members = ["runner"]
resolver = "2"

[package]
name = "chunkfs"
version = "0.1.0"
edition = "2021"

[profile.release-deb]
inherits = "release"
debug = true

[dependencies]
chunking = { git = "https://github.com/Piletskii-Oleg/rust-chunking.git", optional = true }
sha2 = { version = "0.10", optional = true }

[features]
chunkers = ["chunking"]
hashers = ["sha2"]

[dev-dependencies]
chunkfs = { path = ".", features = ["chunkers", "hashers"] }
