name: Build and test

on: [ push ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: cargo build --all-features --verbose
      - name: Run tests
        run: cargo test --verbose
      - name: Run binary
        run: cargo run -p runner --verbose --release
